global
    daemon
    maxconn 256
defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
listen cluster
    bind {{ansible_eth1.ipv4.address}}:80
    mode http
    stats enable
    balance roundrobin
    server {{hostvars["Machine2"].inventory_hostname | upper}} {{hostvars["Machine2"].ansible_eth1.ipv4.address}} check port 80
    server {{hostvars["Machine3"].inventory_hostname | upper}} {{hostvars["Machine3"].ansible_eth1.ipv4.address}} check port 80
    option httpchk HEAD / HTTP/1.0
