global
    daemon
    maxconn 256
{% if haproxy_stats_socket %}
    stats socket {{ haproxy_stats_socket }}
{% endif %}

defaults
    mode {{ haproxy_mode }}
    timeout connect {{ haproxy_timeout_connect }}
    timeout client {{ haproxy_timeout_client }}
    timeout server {{ haproxy_timeout_server }}
listen cluster
    balance {{ haproxy_balance_algorithm }}
    bind {{ haproxy_bind_address }}:{{ haproxy_bind_port }}
    mode {{ haproxy_mode }}
{% if haproxy_enable_stats %}
    stats enable
{% endif %}
{% for backend in groups[haproxy_backend_group] | default([]) %}
{% set backend_address = hostvars[backend].haproxy_backend_address | default(hostvars[backend].ansible_host | default(backend)) %}
    server {{ hostvars[backend].inventory_hostname | upper }} {{ backend_address }}{% if haproxy_backend_check %} check{% endif %} port {{ haproxy_backend_port }} weight {{ hostvars[backend].haproxy_backend_weight | default(haproxy_backend_weight_default) }}
{% endfor %}
    option httpchk {{ haproxy_httpchk }}
